<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
    <title>Contact</title>
</head>

<body>
<div class="nav-bar">
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </div>
    <div class="contact main-container">
        <div class="contact-title title-container">
            Contact
        </div>
        <div class="contact-form">
            <form action='/' method='POST'>
                <div class="form-row">
                    <div class="col name-box">
                        <p><label for="name-box">Name</label>
                        <input type="text" class="form-control" placeholder="Name"></p>
                    
                        <p><label for="email-box">Email</label>
                        <input type="text" class="form-control" placeholder="Email"></p>
                    </div>
                    <div class="col">
                        <label for="message-box">Message</label>
                        <textarea class="form-control message-box" placeholder="Write message here" id="message" rows="3"></textarea>
                        <p><button type="submit" class="btn btn-primary button-right">Submit</button><a href='/'
                        class="btn btn-primary button-right">Cancel</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>