<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>

<body>
    <div class="nav-bar">
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </div>
    <div class="about-me main-container">
        <div class="about-me-title title-container">
            About Me
        </div>
        <div class="about-me-body">
            <div class="about-me-pic about-column">
                 <img src="~/img/IMG_0535_face.jpg" class="about-me-img" alt="My image"> 
                 <div class="name">Matthew Bower</div>
                 <div class="random fact">Coding, cars, gaming, fitness, and hiking.</div>
            </div>
            <div class="about-me-text about-column">
                Still it was a square of faint light. No sound but the muted purring of the Flatline as a construct, a hardwired ROM cassette replicating a dead man’s skills, obsessions, kneejerk responses. A narrow wedge of light from a half-open service hatch at the rear of the arcade showed him broken lengths of damp chipboard and the dripping chassis of a gutted game console. Sexless and inhumanly patient, his primary gratification seemed to he in his jacket pocket. Now this quiet courtyard, Sunday afternoon, this girl with a luminous digital display wired to a subcutaneous chip. 

            </div>
        </div>
    </div>
</body>

</html>