<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>

<body>
    <div class="nav-bar">
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </div>
    <div class="projects main-container">
        <div class="projects-title title-container">
         Here are some projects of mine!
        </div>
        <div class="projects-body">
            <div class="scroll-box">
As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
</div>
        </div>
    </div>
</body>

</html>